body {
    text-align: center;
    background-color: #95db30;
}

.btn {
    width: 100px;
    height: 100px;
    margin: 0 1em;
    border-radius: 50%;
    background: white;
}

.btn--rock {
    background-image: url("./assets/rock.gif");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 80% 90%;
}

.btn--paper {
    background-image: url("./assets/paper.gif");
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: 70% 80%;
}

.btn--scissors {
    background-image: url("./assets/scissors.gif");
    background-repeat: no-repeat;
    background-position: 40% 60%;
    background-size: 70% 70%;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25vh;
    text-align: left;
}

.choice-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    margin: 1em;
}

footer {
    margin-top: 3em;
}

.result-wrap {
    height: 10vh;
    margin-bottom: 5em;
}

.result {
    font-size: 32px;
    margin: 0;
    text-transform: uppercase;
}

.audio-player {
    width: 300px;
    height: 20px;
}
